@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SuperCreate </h1><br>
    <h3>The one stop shop to make the Super Hero of your dreams</h3>
    <img src="https://vignette.wikia.nocookie.net/superman/images/b/b1/Superman_Action_976_Gary_Frank.png">
   
</div>
